/* General Section Styling */
.section {
    padding: 50px 20px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #fff;
    height: 100vh;
}

.about-container {
    display: flex; /* Ensure the container is a flexbox */
    flex-direction: row; /* Arrange items in a horizontal row */
    justify-content: flex-start; /* Align items starting from the left */
    align-items: center; /* Vertically center-align items */
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    gap: 50px; /* Add spacing between the image and the bio */
}

.about-image {
    flex: 1;
    max-width: 400px;
}

.profile-pic {
    width: 100%;
    height: auto;
    border-radius: px;
}

.about-bio {
    flex: 2;
    text-align: left;
}

.about-bio p {
    font-size: 1.2rem;
    line-height: 1.8;
}

/* .about-bio, .about-image, .about-container, .section {
    border: 1px solid red;
} */