.home-container {
  position: absolute;
  bottom: 7%;
  left: 5%;
}

/* Animation keyframes */
@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(20px); /* Slide up effect */
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.home-title {
  font-size: clamp(3rem, 8vw, 6rem); /* Default 6rem (96px), scales fluidly */
  color: #fff;
  margin: 0;
  opacity: 0; /* Start hidden */
  animation: fadeIn 1s ease-out forwards; /* Apply animation */
  font-weight: 500; /* Set font weight to medium */
}

.home-subtitle {
  font-size: clamp(1.5rem, 5vw, 2.5rem); /* Default 2.5rem (40px), scales fluidly */
  color: #fff;
  margin: 0;
  opacity: 0; /* Start hidden */
  animation: fadeIn 1s ease-out 1s forwards; /* Fade in subtitle with a 1s delay */
}

/* .home, .home-container {
  border: 1px solid red;
} */

/* Color for "Michael Setji" */
.highlight-text {
  color: #053D38;
}
