/* src/App.css */

/* global index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply Montserrat as the default font for the entire app */
body {
  font-family: 'Montserrat', sans-serif;
}

/* Apply a background color to the entire app */
.App {
  background-color: #f7f7f7;
}

html {
  scroll-behavior: smooth;
}

section {
  min-height: 110vh; /* Each section takes up full viewport height */
  display: flex;
  align-items: center;
  justify-content: center;
}

div {
  display: flex;
  flex-direction: column; /* Stack children vertically */
}
