@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* index.css */
  background-color: #486966;
  background-size: cover;
  background-position: center;
  filter: none; /* Ensure no filters */
  opacity: 1;   /* Ensure full opacity */


  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}